.gar_footer_container {
    display: flex;
    background-color: #262A28;
    padding: 50px 0;
    color: #FFFFFF;
    justify-content: center;

    .gar_body_container {
        width: 1000px;
        padding: 10px;
    
        .gar_body_top {
            .gar_item_container {
                .gar_title {
                    margin-bottom: 10px;
                }
            }
            
            .gar_item_container, .gar_img_item_container {
                display: flex;
                flex-direction: column;
            }
    
            .gar_img_item_container {
                align-items: center;
                margin-right: 30px;
    
                .gar_qrcode_img {
                    width: 140px;
                    height: 140px;
                }
    
                .qrcode_description_text {
                    padding: 10px;
                }
            }
    
            a {
                text-decoration: none;
            }
        }
    
        .gar_separation {
            width: 100%;
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }
        
        .gar_body_top, .gar_body_bottom {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    
        .gar_body_bottom {
            margin-top: 15px;
    
            .gar_description_text {
                margin-right: 8px;
            }
        }
    
        .gar_description_text, .qrcode_description_text, .gar_body_top a, .gar_body_top a:hover {
            font-size: 14px;
            color: darkgray;
        }
    }
}

