.entry_step_header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.col_main {
  padding: 15px 40px;
}

.weui-desktop-layout__main__bd.weui-desktop-panel {
  background-color: #FFFFFF;
}

.weui-desktop-steps {
  line-height: 1.4;
  background-color: #FFFFFF;
  text-align: center;
  color: #9a9a9a;
  font-size: 14px;
  counter-reset: step;
  padding: 0;
}

.weui-desktop-step {
  padding: 21px 0;
  display: inline-block;
}

.weui-desktop-step.current {
  color: #07c160;
}

.weui-desktop-step::before {
  display: inline-block !important;
  counter-increment: step;
  content: counter(step);
  height: 16px;
  width: 16px;
  line-height: 16px;
  border: 1px solid currentColor;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 0;
}

.weui-desktop-step:not(:last-child)::after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 30px;
  border-bottom: 2px solid #e4e8eb;
  margin: 8px 10px;
}

.entry_simple_sec {
  width: 520px;
  padding: 26px 34px;
  border-bottom: 1px solid #E4E6E9;
  margin: 0 auto;
}

.entry_simple_sec:last-child {
  padding-bottom: 30px;
  border-bottom: 0;
  text-align: center;
}

.entry_simple_sec_title {
  font-size: 14px;
  margin-bottom: 16px;
}

.entry_column_item {
  display: table;
  margin-bottom: 20px;
  width: 100%;
}

.entry_column_item_title {
  font-size: 14px;
  color: #787878;
  line-height: 30px;
  width: 100px;
}

.entry_column_item_cnt {
  display: table-cell;
  width: 70%;
}

.qui_inputText {
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  font-size: 14px;
  outline: none;
}

.qui_inputText:focus {
  border: 1px solid #6699FF;
}

.entry_column_item_cnt .ww_inputText {
  width: 100%;
  height: 30px;
}

.entry_simple_sec_remark {
  font-size: 12px;
  position: relative;
  top: 15px;
}

.entry_simple_sec_remark a {
  text-decoration: none;
}

.btn-next {
  min-width: 200px;
  display: block;
  margin-top: 18px;
  margin-bottom: 18px;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.entry_column_item_inform {
  font-weight: 600;
}

.entry_column_item_inform_a {
  font-size: 20px;
  font-weight: 600;
}

.main_step {
  display: flex;
  padding-bottom: 30px;

  .ifs_item_step {
    display: inherit;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;

    .circle {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }
    
    .background_dark_blue {
      background-color: #00367A;
    }
    
    .done::before {
      content: "";
      width: 15px;
      height: 8px;
      border: 3px solid #FFFFFF;
      border-right: none;
      border-top: none;
      transform: rotate(-45deg) translate(1px, -2px);
    }
    
    .current::before {
      content: "";
      width: 13px;
      height: 13px;
      border: 3px solid #FFFFFF;
      border-right: none;
      border-top: none;
      transform: rotate(225deg) translate(2px, -2px);
    }
    
    .background_gray {
      background-color: #C8C8C8;
    }

    .ifs_step_text_container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 35px;
      align-items: center;

      .ifs_item_text {
        color: #616161;
        font-size: 12px;
      }
    }
  }

  .ifs_item_step:not(:first-child)::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #E5E5E5;
    position: absolute;
    left: -50%;
    z-index: 0;
  }
}

.material_list_box {
  padding-top: 20px;
  height:200px;

  div {
    padding-top: 45px;
    margin:0 0.5%;
    border-radius: 10px;
    float: left;
    padding-left: 20px;
    width: 23%;
    background-color: #ebe8e8;
    height: 180px;
    img {
      width: 80px;
      margin: 0 auto;
      display: block;
    };
    span {
      margin: 5px auto;
      display: block;
      width: 80px;
      text-align: center;
    };
  }
}

.galaxy_entry_group {
  .o_horizontal_separator::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #00367A;
    margin-right: 6px;
  }

  .o_horizontal_separator {
    font-size: 1.1rem !important;
    box-shadow: unset !important;
  }
}

.merchant_font_size {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #325e96;
}

.merchant_font_label {
  margin-top: 5px;
}

.merchant_system_valuation {
  border: 1px solid #DEDEDE;
  border-top: none;
  border-right: none;
}

.merchant_assets_label {
  margin-left: 16% !important;
}

.merchant_equipment_assets_label {
  margin-left: 14.7% !important;
}

.merchant_others_assets_label {
  margin-left: 10.5% !important;
}
