

$o-community-color: #00367A !default;

$o-brand-odoo: $o-community-color !default;
$o-brand-primary: $o-community-color !default;

$o-main-bg-color: #EDEDED !default;
// $o-horizontal-padding: 0px !default;
