.recruit-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.recruit-canvas .preview-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.recruit-canvas .canvas-box,
.recruit-canvas .btn-box {
  position: absolute;
  top: 50%;
  z-index: 100;
}

.recruit-canvas .btn-box {
  left: -22%;
  z-index: 1000;
  text-align: center;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.recruit-canvas .btn-box .del-btn,
.recruit-canvas .btn-box .sure-btn {
  display: inline-block;
  width: 100px;
  height: 24px;
  margin: 0 10px;
  line-height: 24px;
  border-radius: 6px;
  background-color: #fff;
}

.recruit-canvas .btn-box .del-btn {
  color: #FF5E00;
}

.recruit-canvas .btn-box .sure-btn {
  color: #fff;
  background: linear-gradient(100deg, #FF4E01 0%, #FFBC01 100%);
}


.recruit-canvas .canvas-box {
  left: 22%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: 1px dashed #D4D4D4;
  transform: translateY(-50%);
  background-color: #fff;
}

.recruit-canvas .canvas-box #canvas-map {
  width: 100%;
  height: 100%;
}

@media screen and (orientation: portrait) {
  /*竖屏 css*/
}

@media screen and (orientation: landscape) {

  /*横屏 css*/
  .recruit-canvas .canvas-box {
    top: 20px;
    left: 10%;
    width: 80vw;
    height: 85vh;
    transform: translateY(0);
  }

  .recruit-canvas .btn-box {
    width: 60%;
    left: 20%;
    top: 86%;
    transform: rotate(0);
  }

  .galaxy_signature_main {
    height: 72vh !important;
    margin-top: -3% !important;
    padding: 0 3% !important;
  }

    .galaxy_btn {
      transform: unset !important;
      position: unset !important;
      margin-top: 1%;

      .galaxy_button_submit {
        margin: 0px 10px;
      }
    }

}

.galaxy_signature_main {
  height: 85vh;
  padding-right: 5%;
  padding-left: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 9%;

  .galaxy_signature_group,
  .galaxy_sign_signature,
  .galaxy_signature_group .jSignature {
    height: 100% !important;
    width: 100% !important;
  }
}

.galaxy_btn {
  transform: rotate(90deg);
  position: absolute;
  left: -39%;
  top: 45%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 24px;

  .o_galaxy_sign_clear,
  .o_galaxy_sign_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    width: 139px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
  }

  .o_galaxy_sign_clear {
    color: #091229;
    border: 1px solid #E5E6EB;
  }

  .o_galaxy_sign_submit {
    color: #FFFFFF;
    background-color: #FF6633;
    font-weight: bold;

    .icon {
      width: 17px;
      height: 17px;
      transform: rotate(-90deg);
    }

    .loading {
      animation: galaxyRotation 1s linear infinite !important;
      -webkit-animation: galaxyRotation 1s linear infinite !important;
    }

    @keyframes galaxyRotation {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
    
    @-webkit-keyframes galaxyRotation {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
  }
}