.ot_password_invisible {
    display: none !important;
}
.input-group-append {
    width: 50%
}
.reset_password_phone_check,
.reset_password_checkcode_ckeck {
    margin-top: 25px;
    width: 100%;
}

.o_ifs_idcard {
    width: 100%;
    text-align: center;
}

.invisible_input_password {
    display: none !important;
}