.fa-weixin {
  color: #00ae2c;
}

.fa-weixin-work {
  content: url('https://wwcdn.weixin.qq.com/node/wwopen/wwopenmng/style/images/independent/favicon/favicon_48h$964d78ce.png');
  margin: 0 0.15em -0.15em 0.15em;
  width: 1.1em;
  height: 1em;
}