.gar_invite_main {
    height: 100%;
}

#wrapwrap.o_portal {
    background-color: #FAFAFA !important;
}

.btn-outline-primary {
    border-radius: 4px;
    border-color: gray;
    color: #000000;
    opacity: .4;
    margin: 4px 4px 16px 4px;
    width: 96px;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    opacity: 1;
}

.galaxy_inner_content {
    margin-top: 48px;
    width: 100%;
}

.galaxy_mobile_header {
    position: fixed;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background-color: #00367A;
    height: 48px;
    padding: 12px;
    font-weight: 300;
    z-index: 99;
}

.galaxy_mobile_footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 64px;
    padding: 10px 50px;
    background-color: #FAFAFA;
}

.galaxy_group {
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    background-color: #fff;
    padding: 15px;
    margin: 5px 0;
}

.galaxy_group_inner {
    padding-left: 10px;
    padding-right: 0;
}

.galaxy_group_title {
    width: 100%;
    border-bottom: 1px solid #F1F1F1;
    font-size: 16px;
    color: #00367A;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 10px;

    img {
        height: 17px;
        vertical-align: text-top;
        margin-right: 5px;
    }
}

.galaxy_group_line {
    width: 100%;
    margin-top: 5px;
}

.galaxy_desc_title {
    font-size: 16px;
    color: #909090;
}

.galaxy_desc_content {
    font-size: 16px;
    color: #3F3F3F;
    word-wrap: break-word;
}

.galaxy_label {
    font-size: 16px;
    color: #909090;
}

.galaxy_content {
    font-size: 15px;
    color: #00367A;
    word-wrap: break-word;
    margin: 20px;
}

.galaxy_message_center {
    position: absolute;
    height: 500px;
    margin: auto;
    padding-top: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    img {
        width: 69px;
    }
}

.galaxy-btn-primary {
    width: 100%;
}

.galaxy_buttons {
    margin: 50px;
}

.galaxy-form-control {
    border: 1px solid #EDEDED;
    border-radius: 3px;
}

.category_title {
    margin-bottom: 20px;
}

#collection {
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
}

#collection span {
    font-size: 16px;
    line-height: 60px;
}

#collection input {
    background-image: url(../img/currency_icon.png);
    background-repeat: no-repeat;
    background-size: 16px 42px;
    padding-left: 30px;
    background-position: left;
    caret-color: #0052D6;
    font-size: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #0052D6;
    outline: none;
}

.category_context {
    margin-top: 20px;
    padding: 20px 0px;
}

.category_context_title {
    font-size: 16px;
}

.category_context span {
    color: darkgray;
}

.category_item {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px darkgray solid;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin: 10px;
    color: darkgray;
}

.category_context_title {
    font-size: 16px;
}

.footer {
    background-color: #FFFFFF;
    padding: 10px;
}

.submit {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #0052D6;
    color: #FFFFFF;
    border: none;
}

.blue_background {
    background-color: #0052D6;
    width: 326px;
    height: 451px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.white_background {
    height: 100%;
    background-color: #FFFFFF;
}

.qrcode_title_div {
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

.qrcode_div {
    height: 50%;
    text-align: center;
}

.qrcode_div img {
    width: 197px;
    height: 197px;
}

.amount_div {
    font-weight: 900;
    text-align: center;
    font-size: 30px;
}

.bottom_img {
    width: 100%;
    position: relative;
    bottom: 70px;
}

.save_qrcode_btn {
    position: relative;
    bottom: 120px;
    left: 102px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}

.return_btn_div {
    padding: 0px 30px;
    position: relative;
    bottom: 60px;
}

.return_btn {
    width: 100%;
    background-color: transparent;
    border: 1px #D4D8D8 solid;
    padding: 10px;
    border-radius: 5px;
}

.background {
    margin: auto;
    padding: 20px;
}

.item_background {
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
}

.item_head {
    padding: 20px 0px;
    border-bottom: 1px #F1F2F6 solid;
}

.item_head_icon {
    width: 26px;
    height: 26px;
}

.item_head_right_div {
    float: right;
    position: relative;
    top: -2px;
}

.amount_text {
    font-size: 20px;
    font-weight: 900;
    color: #0052D6;
}

.state_text {
    margin-left: 7px;
    font-size: 16px;
    color: #F3AA52;
    position: relative;
    top: -2px;
}

.item_head_icon_btn {
    background-image: url(/factoring_trade/static/src/img/more_icon.png);
    border: none;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom;
}

.item_content_div {
    padding: 20px 0px 0px 0px;
    font-size: 14px;
}

.item_text_color {
    color: darkgray
}

.content_item_right_div {
    text-align: right;
}

.pay_background {
    margin: auto;
}

.trade_text_div {
    padding: 20px 0px;
    font-size: 16px;
}

.trade_amount_div {
    font-size: 32px;
    font-weight: 900;
}

.pay_content_body {
    background-color: #FFFFFF;
    padding: 0px 26px;
    margin-top: 20px;
    font-size: 14px;
}

.signature_body {
    width: 100%;
    height: 90px;
    background-color: aliceblue;
    border-radius: 4px;
    text-align: center;
}

.signature_btn {
    background-color: transparent;
    color: #0052D6;
    border: none;
    font-size: 20px;
    position: relative;
    top: 27px;
}

.signature_img {
    height: 100%;
    position: relative;
    top: 8px;
}

.pay_confirm_btn {
    width: 100%;
    border-radius: 4px;
}

.franchisee_inform_main {
	padding: 15px 30px;

    p {
        text-indent: 2em;
        font-family: PingFangSC-Regular, PingFang SC;
    }

    .inform_agree_btn {
        margin-top: 75px;
    }
}

.franchisee_register_main {
    display: flex;
	flex-direction: column;

    > div {
        padding: 0 15px;
        background-color: white;
    } 

    > div:not(:first-child) {
        margin-top: 8px;
    }

    .progressbar {
        ul {
            list-style: none;
	        display: flex;
	        counter-reset: step;
	        color: white;
	        padding: 0 30px;
            margin: 15px 0 !important;

            li {
                display: flex;
	            align-items: center;

                &:not(:last-child) {
                    flex-grow: 1;
                }

                &::before {
                    content: counter(step);
	                counter-increment: step;
	                display: flex;
	                align-items: center;
	                justify-content: center;
	                width: 30px;
	                height: 30px;
	                background-color: #F3F5F5;
	                border-radius: 50%;
                }

                &.done::before {
                    content: "";
	                background: #1BAA00 url(/galaxy_tdesign/static/src/img/mobile_right.png) no-repeat center;
	                background-size: 20px;
                }

                &.current::before {
                    background-color: #002060;
                }

                &:not(:last-child)::after {
                    content: "";
	                display: inline-block;
	                border-bottom: 2px solid #F3F5F5;
	                flex-grow: 1;
                }
            }
        }
    }

    .license_main {
        .license_img {
            display: flex;
	        justify-content: center;
	        padding: 20px 0;

            .img {
                width: 60%;
                height: 36vw;
                margin-left: 30px;
                max-height: 150px;
            }
        }
    }

    .person_main {
        .idcard_content {
            display: flex;
	        align-items: center;
	        justify-content: center;
	        padding: 20px 0;

            > div {
                display: flex;
                justify-content: center;
                flex-grow: 1;
            }

            .idcard_img {
                width: 146px;
                height: 106px;
            }
        }

        .gar_input_textarea {
            align-items: flex-start !important;
            flex-direction: column;
        }
        
        .gar_input_textarea textarea {
            margin-top: 10px;
            width: 98%;
            outline: none;
            resize: none;
            border-color: #F3F5F5;
        }
        
        .gar_input_radio {
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
        }
    }

    .sign_main {
        .sign_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .description_one {
                font-size: 1.125rem;
                font-weight: 900;
                margin-top: 25px;
            }

            .description_two {
                color: #979B9B;
                margin: 15px 0;
            }

            .sign {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F9F9F9;
                border-radius: 10px;
                width: 100%;
                height: 200px;
                font-size: 2rem;
                color: #C8C8C8;
            }
        }
        
        .sign_inform {
            display: flex;
            margin-top: 20px;
            margin-bottom: 100px;
            font-size: 12px;
            color: #979B9B;

            a {
                text-decoration: none;
            }

            .sign_inform_checkbox {
                margin-right: 4px;
                margin-top: 2px;
            }
        }
    }

    .title {
        display: flex;
	    align-items: center;
	    color: #002060;
	    font-size: 14px;
	    font-weight: 500;
        margin-top: 10px;

        &::before {
            content: "";
	        display: inline-block;
	        width: 5px;
	        height: 16px;
	        background-color: #002060;
	        margin-right: 10px;
        }
    }

    .gar_input {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #C8C8C8;
        padding-bottom: 10px;
        margin: 25px 0;

        label {
            color: #979B9B;
            font-weight: 400;
            margin-right: 10px;
            margin-bottom: 0;
        }

        &, .gar_input input {
            font-size: 16px;
        }

        input {
            border: none;
            background-color: transparent;
            outline: none;
            flex-grow: 1;

            &[disabled] {
                color: darkgray;
            }
        }
    }

    .gar_select  {
        border: none;
        outline: none;
        appearance: none;
        flex-grow: 1;
        color: darkgray;
        background-color: white;

        option {
            color: black;
        }
    }
}

.merchant_register_main {
    display: flex;
	flex-direction: column;

    > div {
        padding: 0 15px;
        background-color: white;
    } 

    > div:not(:first-child) {
        margin-top: 8px;
    }

    .merchant_progressbar {
        ul {
            list-style: none;
	        display: flex;
	        counter-reset: step;
	        color: white;
	        padding: 0 30px;
            margin: 15px 0 !important;

            li {
                display: flex;
	            align-items: center;

                &:not(:last-child) {
                    flex-grow: 1;
                }

                &::before {
                    content: counter(step);
	                counter-increment: step;
	                display: flex;
	                align-items: center;
	                justify-content: center;
	                width: 30px;
	                height: 30px;
	                background-color: #F3F5F5;
	                border-radius: 50%;
                }

                &.done::before {
                    content: "";
	                background: #1BAA00 url(/galaxy_tdesign/static/src/img/mobile_right.png) no-repeat center;
	                background-size: 20px;
                }

                &.current::before {
                    background-color: #002060;
                }

                &:not(:last-child)::after {
                    content: "";
	                display: inline-block;
	                border-bottom: 2px solid #F3F5F5;
	                flex-grow: 1;
                }
            }
        }
    }

    .license_main {
        .license_img {
            display: flex;
	        justify-content: center;
	        padding: 20px 0;

            .img {
                width: 60%;
                height: 36vw;
            }
        }
    }

    .person_main {
        .license_img{
            width: 80%;
            img{
                max-width: 100%;
            }
        }
        
        .merchant_idcard_content {
            display: flex;
	        align-items: center;
	        justify-content: center;
	        padding: 20px 0;

            > div {
                display: flex;
                justify-content: center;
                flex-grow: 1;
            }

            .idcard_img {
                width: 146px;
                height: 106px;
            }
        }

        .gar_input_textarea {
            align-items: flex-start !important;
            flex-direction: column;
        }
        
        .gar_input_textarea textarea {
            margin-top: 10px;
            width: 98%;
            outline: none;
            resize: none;
            border-color: #F3F5F5;
        }
        
        .gar_input_radio {
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
        }
    }

    .merchant_sign_main {
        .sign_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .description_one {
                font-size: 1.125rem;
                font-weight: 900;
                margin-top: 25px;
            }

            .description_two {
                color: #979B9B;
                margin: 15px 0;
            }

            .merchant_sign {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F9F9F9;
                border-radius: 10px;
                width: 100%;
                height: 200px;
                font-size: 2rem;
                color: #C8C8C8;
            }
        }
        
        .sign_inform {
            display: flex;
            margin-top: 20px;
            margin-bottom: 100px;
            font-size: 12px;
            color: #979B9B;

            a {
                text-decoration: none;
            }

            .sign_inform_checkbox {
                margin-right: 4px;
                margin-top: 2px;
            }
        }
    }

    .title {
        display: flex;
	    align-items: center;
	    color: #002060;
	    font-size: 14px;
	    font-weight: 500;
        margin-top: 10px;

        &::before {
            content: "";
	        display: inline-block;
	        width: 5px;
	        height: 16px;
	        background-color: #002060;
	        margin-right: 10px;
        }
    }

    .gar_input {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #C8C8C8;
        padding-bottom: 10px;
        margin: 25px 0;

        label {
            color: #979B9B;
            font-weight: 400;
            margin-right: 10px;
            margin-bottom: 0;
        }

        &, .gar_input input {
            font-size: 16px;
        }

        input {
            border: none;
            background-color: transparent;
            outline: none;
            flex-grow: 1;

            &[disabled] {
                color: darkgray;
            }
        }
    }

    .gar_select  {
        border: none;
        outline: none;
        appearance: none;
        flex-grow: 1;
        color: darkgray;
        background-color: white;

        option {
            color: black;
        }
    }
}

.person_register_warring {
	display: flex;
	font-size: 12px;
	color: #C8C8C8;
    padding: 15px;

    &::before {
        content: "!";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #C8C8C8;
        margin-top: 3px;
        margin-right: 5px;
    }
}

.register_finish_main {
	.success_text {
        font-size: 18px;
        font-weight: 900;
    }
    
    .success_text_two {
        font-size: 14px;
        color: #999999;
    }
}


.img-input input {
    width: 250px;
    height: 30px;
    padding-left: 40px; 
    color: #9d9d9d;
    border-radius: 20px;   /* 圆角矩形效果 */
    border: 0;  /* 取消黑色外框 */
    background: url(@/galaxy_tdesign/static/src/img/plus.png) no-repeat #f8f8f8; /* 实现png和背景色共存 */
    background-size: 20px 20px; /* 背景图片大小 */
    background-position: 10px; /* 背景图片定位：注意这里的第一个属性值是调整左右，第二个属性值是上下 */

}

.r_main {
    .gar_input, .gar_input .gar_select{
        background-color: transparent;
    }

    .btn {
        width: 80%;
        margin: 0 auto;
    }
}

.img-container {
    .img-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
            width: 50%;
        }
    }
}
