
.oe_monetary_lg {
    font-size: large;
    font-weight: 700;
}

.oe_red {
    color: red;
}

.oe_monetary_uppercase {
    font-size: x-large;

    .o_field_char {
        overflow: visible !important;
    }
}

.clause p{
    text-indent: 2em;
}