.ifs-container {
    height: 100%;
    padding: 16px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow: scroll;
    scrollbar-width: none;

    .top-box {
        border-radius: 12px;
        background-color: #FFFFFF;

        .item-box {
            background: linear-gradient(to right, #FF9429, #FF6633);
            color: #FFFFFF;
            padding: 15px 20px;

            .m-wrap {
                border-color: #FFA57B;
            }

            .title {
                font-size: 15px;
                color: #FFFFFF;
            }

            .yjl-primary-btn {
                height: 36px;
                border: 1px solid #FFDBC4;
                color: #FFDBC4;
                padding: 0 12px;
                background-color: transparent;
            }

            .i-block {
                margin-top: 12px;
                display: flex;
                align-items: center;

                .ic-box {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;

                    .label {
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
        }

        .t-cell {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #4E5766;
            padding: 12px;
            column-gap: 8px;
        }
    }

    .title {
        color: #091229;
        font-size: 15px;
    }

    .header {
        .title {
            flex: 1;
            font-weight: bold;
        }

        .right-text {
            font-size: 14px;
            color: #929BAB;
        }
    }

    .cell {
        display: flex;
        justify-content: space-between;

        .bill_date_content {
            display: flex;
            align-items: center;
            column-gap: 4px;

            .icon-calendar {
                width: 16px;
                height: 16px;
            }
        }
    }

    .item-box {
        border-radius: 12px;
        background-color: #FFFFFF;
        padding: 15px 12px;

        .m-wrap {
            padding: 5px 0;
            border-bottom: 1px solid #F2F3F5;
            align-items: center;
            column-gap: 10px;

            .p-block {
                flex: 1;
                font-size: 30px;
                font-weight: bold;
                display: flex;
                align-items: center;
                overflow: hidden;
                column-gap: 5px;

                span:nth-child(1) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                :nth-child(2) {
                    font-size: 22px;
                    font-weight: 400;
                    margin-top: 10px;
                }
            }
        }

        .l-wrap {
            margin: 10px 0;
            font-size: 14px;
            color: #929BAB;
        }

        .d-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            color: #091229;
            font-size: 14px;

            .right-text {
                flex: 1;
                text-align: right;
            }
        }
    }

    .list {
        display: flex;
        flex-direction: column;

        .list-item-container {
            margin-top: 10px;
            padding-bottom: 80px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            .list-item {
                font-size: 14px;

                .title {
                    color: #4E5766;
                    font-size: 14px;
                    font-weight: 400;
                }

                .ld-wrap {
                    margin-top: 5px;

                    .cell-wrap {
                        justify-content: space-between;
                        column-gap: 10px;
                    }

                    .label {
                        color: #4E5766;
                    }

                    .v-text {
                        color: #091229;
                        font-weight: bold;
                        flex: 1;
                    }

                    .c-text,
                    .cv-text {
                        color: #FF484E;
                    }

                    .cv-text {
                        flex: 1;
                        font-weight: bold;
                    }

                    .l-text,
                    .ac-text {
                        color: #091229;
                    }

                    .ac-text {
                        font-size: 15px;
                    }
                }
            }
        }

        .nav {
            display: flex;
            column-gap: 20px;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .active {
                font-weight: bold;
                color: #FF6633;
            }

            .active::after {
                content: "";
                display: flex;
                width: 22px;
                height: 2px;
                border-radius: 2px;
                background-color: #FF6633;
            }
        }
    }

    .yjl-primary-btn {
        height: 40px;
        background-color: #FF6633;
        border-radius: 26px;
        color: #FFFFFF;
        padding: 0 26px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .color2 {
        color: #929BAB;
    }

    .color1 {
        color: #FF484E;
    }

    .color0 {
        color: #FF6633;
    }

    .galaxy-footer {
        height: 72px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;

        .back {
            flex: 1;
        }
    }
}