.o_notebook {
    .nav-item {
        background-color: $o-gray-100;
        border-top: 1px solid #{$border-color};
        border-left: 1px solid #{$border-color};
        border-right: 1px solid #{$border-color};
        border-radius: 5px 5px 0 0;
    }

    .nav-link {
        color: $o-black;
    }
}