.badge-success-width-auto {
  color: #fff;
  background-color: #28a745;
  width: auto !important;
}

a.badge-success-width-auto:hover, a.badge-success-width-auto:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-default-width-auto {
  width: auto !important;
};