.partner_merchant_label {
    margin-left: 15px;
}

.factor_ir_attachment {
    .galaxy-item-body {
        margin-bottom: 0px !important;
        height: auto !important;
        padding-bottom: 0 !important;
    }
}