.gar_situation_container {
    .gar_text_en {
        color: #969696;
    }

    .gar_situation_body {
        display: flex;
        margin-top: 50px;

        .gar_body_sides {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: relative;

            .gar_circle {
                width: 38px;
                height: 38px;
                border-radius: 50%;
            }

            .gar_body_sides_item {
                display: flex;
                align-items: center;
                max-height: 38px;
            }

            .gar_left_item_top, .gar_left_item_bottom, .gar_right_item_top, .gar_right_item_bottom {
                position: absolute;
            }

            .gar_left_item_top, .gar_right_item_top {
                top: 25px;
            }

            .gar_left_item_bottom, .gar_right_item_bottom {
                bottom: 25px;
            }

            .gar_left_item_top, .gar_left_item_bottom {
                right: -30px;
            }

            .gar_right_item_top, .gar_right_item_bottom {
                left: -30px;
            }

            .gar_text_padding {
                padding: 0 15px;
            }
        }

        .gar_img {
            width: 245px;
            height: 245px;
            border-radius: 50%;
        }

        .gar_left {
            left: 15px;
        }

        .gar_right {
            right: 15px;
        }
    }
}