@media (min-width: 768px) {
    .galaxy_gar_slogan {
        display: none;
    }
}

@media (max-width: 767px) {
    .galaxy_gar_slogan {
        display: block;
        font-size: 14px;
        color: #000;
        letter-spacing: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #C9CCD2;
    }
}

.galaxy-btn-primary {
    background-color: #00367A;
    border-radius: 4px;
}

.mobile_login_background {
    margin: auto; 
    height: 812px; 
    background-color: #FFFFFF;
}

.mobile_login_top_background {
    height: 35%; 
    background-color: #0052D6;
    clip-path: polygon(20% 0%,80% 0%,100% 0%,100% 80%,80% 100%,20% 100%,0% 80%,0% 0%);
}

.span_login_title {
    position: relative;
    top: 22px;
    font-size: 22px !important;
}

.mobile_login_logo_icon {
    height: 38px; 
    position: relative; 
    left: 26px; 
    top: 40px;
}

.mobile_login_top_img {
    height: 112px; 
    position: relative; 
    right: 20px; 
    top: 40px; 
    float: right;
}

.mobile_login_main {
    width: 90%; 
    background-color: #FFFFFF; 
    margin: auto; 
    position: relative; 
    top: -120px; 
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.mobile_login_form {
    max-width: unset !important;
}

.mobile_login_input {
    width: 85% !important; 
    border-bottom: 1px solid #F1F2F6 !important; 
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    position: relative; 
    bottom: 5px; 
    font-size: 16px !important; 
    outline: none; 
    padding-left:10px !important;
}

.mobile_login_input_div {
    padding: 10px 0px; 
    margin: auto; 
    width: 90%;
}

.mobile_login_input_icon {
    height: 28px; 
    float: left;
}

.mobile_login_btn {
    width: 100% !important; 
    border: none !important; 
    background-color: #0052D6 !important; 
    color: #FFFFFF !important; 
    border-radius: 8px !important;
}

.mobile_login_footer {
    padding: 0px 50px; 
    text-align: center; 
    font-size: 14px;
}

.mobile_login_footer a {
    color: #0052D6; 
    text-decoration: none;
}

