.gar_container {
    background-color: #FFFFFF !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;

    .gar_title_body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}