.four_columns_gar_container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .gar_body_container {
        display: flex;
        width: 1200px;
        justify-content: space-evenly;
        flex-flow: wrap;

        .gar_card_body {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border: 1px solid #E2E2E2;
            border-radius: 5px;
            width: 251px;
            min-height: 280px;
            padding: 40px 15px 0 15px;
            margin-top: 10px;
    
            .gar_card_icon {
                width: 64px;
                height: 64px;
            }
    
            .gar_card_title {        
                font-weight: 600;
                color: #002060;
                margin-top: 0.75rem;
                margin-bottom: 0.75rem;
            }
    
            .gar_card_text {   
                color: #818181;
            }
        }
    }
}