// ------- List renderer -------
.o_list_renderer {
    .o_list_table {
        .o_list_row_count {
            width: 33px !important;
            padding-left: 10px !important;
            text-align: center;
            font-weight: 600;
        }

        tbody > tr > td:not(.o_list_record_selector) {
            &:not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove) {
                vertical-align: middle;
            }

            &.o_list_button {
                vertical-align: middle;
            }
        }

        .o_list_record_selector {
            vertical-align: middle;
        }
    }
}