.galaxy_entry_group {
  .o_horizontal_separator::before {
    content: var(--num);
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #00367A;
    margin-right: 6px;
    color: white;
    text-align: center;
    line-height: 20px;
  }

  .o_horizontal_separator {
    font-size: 1.1rem !important;
    box-shadow: unset !important;
  }
  
}
.group_title::before{
  content: var(--num);
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background-color: #00367A;
  margin-right: 6px;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 1.1rem !important;
  box-shadow: unset !important;
}

.main_step_2 {
  padding-bottom: 70px;

  .circle_2 {
    width: 54px !important;
    height: 54px !important;
  } 

  .circle_2::before {
    width: 30px !important;
    height: 17px !important;
    transform: rotate(-45deg) translate(3px, -3px) !important;
  }

  .ifs_step_text_container_2 {
    top: 60px !important;

    .ifs_text {
      font-size: 10px;
    }

    .ifs_text_color {
      color: #BDBDBD;
    }
  }
}

.doc_table_box {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  font-size: 16px;
  flex-wrap: wrap;

  >div {
      height: 40px;
      text-indent: 0.5em;
      line-height: 40px;
  }

  .title {
      width: 20%;
      border: 0.2px solid grey;
  }

  .value {
      width: 30%;
      border: 0.2px solid grey;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;

      .o_field_char {
        width: 100%;
      }
      
  }

  .value_auto {
      width: 80%;
      border: 0.2px solid grey;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}

.word_inner_content {
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
}

.sign_container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  padding-left: 50px;

  .sign_point {
      font-size: 16px;
      line-height: 24px;
      padding-left: 20px;
      width:50%;
      
  }
  .qrcode{
      margin-left: 350px;
  }
}

.to-btu-center {
  margin: 20px auto;
}